/* 초기화 */
body {
  margin: 0;
  padding: 0;
}

/* 시작 */
:root {
  --color-text: #222;
  --color-background: #fff;
  --color-background-sub: #eee;
  --color-primary: #A294F9;
  --color-primary-lighten: #CDC1FF;
  --color-secondary: #E5D9F2;
  --color-secondary-lighten: #F5EFFF;
  --color-light: #fff;
  --color-mid: #ccc;
  --color-dark: #222;
  --font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
}

/* 의사 요소 */
::selection {
  color: var(--color-dark);
  background-color: var(--color-secondary-lighten);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-lighten);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

/* 헤딩 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 1rem 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* 타이포그래피 */
p {
  margin: 1rem 0;
}

mark {
  background-color: var(--color-secondary-lighten);
}

/* 버튼 */
button, [type="button"], [type="submit"], [type="reset"], [role="button"] {
  font-size: var(--font-size);
  color: var(--color-light);
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  font-weight: bold;
}

/* 링크 */
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--color-primary-lighten);
}

button:hover:not(:disabled) {
  background-color: var(--color-primary-lighten);
}

button:disabled {
  color: var(--color-dark);
  background-color: var(--color-secondary);
}

input[type="checkbox"],
input[type="radio"],
input[type="range"],
progress {
  accent-color: var(--color-primary);
}

/* 입력 */
input,
textarea {
  caret-color: var(--color-primary);
  font-size: var(--font-size);
  color: var(--color-text);
  background-color: transparent;
  border: solid 0.2rem var(--color-primary);
  border-radius: 0.25rem;
  padding: 0.5rem;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  caret-color: var(--color-primary-lighten);
  outline: none;
  border-color: var(--color-primary-lighten);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-mid);
}

/* 테이블 */
table {
  border-collapse: collapse;
  border-radius: 0.25rem;
  border-style: hidden;
  box-shadow: 0 0 0 0.2rem var(--color-primary);
}

th,
td {
  padding: 0.5rem;
}

th {
  background-color: var(--color-primary);
  color: var(--color-light);
}

tr:nth-child(even) {
  background-color: var(--color-primary-lighten);
}

/* 리스트 */
ol,
ul {
  padding-left: 1rem;
  margin: 1rem;
}

li::marker {
  color: var(--color-primary);
  transition: color 0.3s;
}

/* 기타 */
pre,
blockquote {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.25rem;
  background-color: var(--color-background-sub);
}

blockquote {
  border-left: solid 0.5rem var(--color-primary);
}

blockquote>cite {
  color: var(--color-mid)
}

pre {
  background-color: var(--color-background-sub);
  overflow-x: auto;
}

code {
  background-color: var(--color-background-sub);
}

/* 레이아웃 */
body>header,
body>main,
body>footer {
  width: 60%;
  margin: 0 auto;
}

/* 미디어 쿼리 */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-background: #222;
    --color-background-sub: #444;
  }
}

@media screen and (max-width: 1600px) {
  :root {
    --font-size: 15px;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    --font-size: 14px;
  }

  body>header,
  body>main,
  body>footer {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --font-size: 13px;
  }

  body>header,
  body>main,
  body>footer {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --font-size: 12px;
  }

  body>header,
  body>main,
  body>footer {
    width: 95%;
  }
}